.at_bat_header
  .at_bat_header__left
    = link_to "ログアウト"
  .at_bat_header__center
    打撃成績
  .at_bat_header__right
    = link_to "編集"

.at_bat_index
  .at_bat_index__1st
    .title
      【期間】
    .year
      2020年

  .at_bat_index__1st
    .title
      【チーム】
    .team
      すべて

  .at_bat_index__2nd
    .title
      【試合成績】
    .game_result
      .game_result__win
        ５勝
      .game_result__lose
        ３敗
      .game_result__draw
        ０分
      .game_result__syouritu
        勝率
      .game_result__ave
        600

  .at_bat_index__3rd
    【打撃成績】

  .at_bat_index__4th
    .daseki
      .daseki__count
        102
      .daseki__credit
        打席
    .dasuu
      .dasuu__count
        88
      .dasuu__credit
        打数
    .hit
      .hit__count
        22
      .hit__credit
        安打

  .at_bat_index__5th
    .two_hit
      .two_hit__title
        二塁打
      .two_hit__count
        ６
    .three_hit
      .three_hit__title
        三塁打
      .three_hit__count
        １
    .homerun
      .homerun__title
        本塁打
      .homerun__count
        ２

  .at_bat_index__6th
    .swing_out
      .swing_out__title
        三振
      .swing_out__count
        2
    .walk
      .walk__title
        四死球
      .walk__count
        ５
    .sacrifice
      .sacrifice__title
        犠打
      .sacrifice__count
        2

  .at_bat_index__7th
    .rbi
      .rbi__title
        打点
      .rbi__count
        2
    .batting_ave
      .batting_ave__title
        打率
      .batting_ave__count
        333
    .obp
      .obp__title
        出塁率
      .obp__count
        355

.footer
  .game_result
    = link_to "試合結果一覧"
  .batting_result
    = link_to "打撃成績"



