.header
  .header__left
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  .header__center
    打撃成績
  .header__right
    = link_to "編集", edit_user_path(current_user)

.index
  .index__1st
    .title
      【期間】
    .content
      2020年

  .index__1st
    .title
      【チーム】
    .content
      すべて

  .index__2nd
    .title
      【試合成績】
    .game_result
      .game_result__win
        ５勝
      .game_result__lose
        ３敗
      .game_result__draw
        ０分
      .game_result__syouritu
        勝率
      .game_result__ave
        600

  .index__3rd
    【打撃成績】

  .index__4th
    .left
      .left__count
        102
      .left__credit
        打席
    .center
      .center__count
        88
      .center__credit
        打数
    .right
      .right__count
        22
      .right__credit
        安打

  .index__5th
    .left
      .left__title
        二塁打
      .left__count
        ６
    .center
      .center__title
        三塁打
      .center__count
        １
    .right
      .right__title
        本塁打
      .right__count
        ２

  .index__5th
    .left
      .left__title
        三振
      .left__count
        2
    .center
      .center__title
        四死球
      .center__count
        ５
    .right
      .right__title
        犠打
      .right__count
        2

  .index__5th
    .left
      .left__title
        打点
      .left__count
        2
    .center
      .center__title
        打率
      .center__count
        333
    .right
      .right__title
        出塁率
      .right__count
        355

.footer
  .game_result
    = link_to "試合結果一覧"
  .batting_result
    = link_to "打撃成績入力", new_game_path



