* {
  box-sizing: border-box;
}

.header{
  display: flex;
  position: fixed;
  top: 0;
  height: 250px;
  width: 100%;
  background-color: gray;
  justify-content: space-around;
  font-size: 50px;
  line-height: 250px;
  &__left a{
    text-decoration: none;
    width: 30%;
  }
  &__center{
    color: aliceblue;
    font-size: 65px;
    font-weight: bold;
    width: 40%;
  }
  &__right a{
    text-decoration: none;
    width: 30%;
  }
}

.index{
  margin-top: 250px;
  padding: 30px;
  &__1st{
    height: 200px;
    display: flex;
    line-height: 200px;
    .title{
      margin: 0 20px 0 20px;
      font-size: 35px;
    }
    .content{
      margin: 0 20px 0 20px;
      font-size: 40px;
    }
  }

  &__2nd{
    height: 200px;
    display: flex;
    line-height: 200px;
    .title{
      margin: 0 20px 0 20px;
      font-size: 35px;
    }
    .game_result{
      margin: 0 20px 0 20px;
      font-size: 40px;
      display: flex;
    }
  }

  &__3rd{
    height: 200px;
    display: flex;
    line-height: 200px;
    margin: 0 20px 0 20px;
    font-size: 35px;
  }

  &__4th{
    height: 200px;
    display: flex;
    line-height: 200px;
    margin: 0 20px 0 20px;
    font-size: 35px;
    .left{
      display: flex;
      &__count{
        margin-right: 10px;
      }
      &__credit{
        margin-right: 20px;
      }
    }
    .center{
      display: flex;
      &__count{
        margin-right: 10px;
      }
      &__credit{
        margin-right: 20px;
      }
    }
    .right{
      display: flex;
      &__count{
        margin-right: 10px;
      }
      &__credit{
        margin-right: 20px;
      }
    }
  }

  &__5th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
    .left{
      margin: 0 20px 0 20px;
      display: flex;
      width: 30%;
      justify-content: space-between;
      &__title{

      }
      &__count{

      }
    }
    .center{
      margin: 0 30px 0 30px;
      display: flex;
      width: 30%;
      justify-content: space-between;
    }
    .right{
      margin: 0 30px 0 30px;
      display: flex;
      width: 30%;
      justify-content: space-between;
    }
  }

  &__6th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
    .title{
      margin: 10px;
    }
    .text_box{
      height: 50px;
      margin: 10px;
    }
    .year{
      margin:10px;
    }
    .month{
      margin:10px;
    }
    .day{
      margin:10px;
    }
  }

  &__7th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
  }

  &__8th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
    .title{

    }
    .result{
      display: flex;
      .score{
        .text_box{
          width: 70px;
        }
      }
    }
  }

  &__9th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
    .title{
      margin: -13px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .text_box{
        height: 50px;
        
      }
    }
  }

  &__10th{
    height: 200px;
    display: flex;
    line-height: 200px;
    font-size: 35px;
    padding: 0 30px 0 30px;
    justify-content: space-between;
    .title{

    }
    .input_area{

    }
    .text_box{
      height: 50px;
      margin: 10px;
    }
  }
}

.footer{
  display: flex;
  height: 250px;
  width: 100%;
  background-color: gray;
  justify-content: space-around;
  font-size: 50px;
  line-height: 250px;
  text-align: center;
  position: fixed;
  bottom: 0;
  .game_result a{
    width: 50%;
    text-decoration: none;
  }
  .batting_result a{
    width: 50%;
    text-decoration: none;
    // max-height: ;
  }
}


