.header
  .header__left
    = link_to "ログアウト"
  .header__center
    打撃成績入力
  .header__right
    = link_to "編集"

.index
  .index__1st
    .title



.footer
  .game_result
    = link_to "試合結果一覧"
  .batting_result
    = link_to "打撃成績"